name: On Push

on: push

jobs:
  render:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Cache downloaded fonts
        uses: actions/cache@v4
        with:
          path: ~/downloads
          key: ${{ runner.os }}-downloaded-fonts

      - name: Install Weasyprint
        # We’re using pip to install Weasyprint, rather than apt, because this is (a) faster, and
        # (b) is a way easier method to get the latest version of Weasyprint.
        run: pip3 install weasyprint==66.0

      - name: 'Install font: Charter'
        run: |
          mkdir -p ~/downloads
          cd ~/downloads
          wget --no-clobber "https://practicaltypography.com/fonts/Charter 210112.zip"

          mkdir -p ~/.local/share/fonts
          cd ~/.local/share/fonts
          cp "$HOME/downloads/Charter 210112.zip" ./

          unzip -q "Charter 210112.zip"
          fc-cache -fv

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          bb: 1.12.209
      
      - name: Interpolate values into Markdown
        run: |
          interpolated_path="$(bin/interpolate-md)"
          cp "$interpolated_path" resume.md

      - name: Render HTML from Markdown with Pandoc
        # We’re using Docker to run Pandoc, rather than install it via apt, because this is much
        # faster.
        run: |
          docker run --volume "$(pwd):$(pwd)" \
                     --workdir "$(pwd)" \
                     --entrypoint /bin/sh \
                     pandoc/core:3.7 \
                     bin/md-to-html resume.md

      - name: Render PDF from HTML with Weasyprint
        run: bin/html-to-pdf

      - name: Create deployment artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: public/

  publish:
    if: github.ref_name == 'main'
    needs: render
    runs-on: ubuntu-24.04
    environment: github-pages
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v4
