name: On Push

on: push

jobs:
  render:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Install Weasyprint
        # We’re using pip to install Weasyprint, rather than apt, because this is (a) faster, and
        # (b) is a way easier method to get the latest version of Weasyprint.
        run: pip3 install weasyprint==67.0

      - name: Render HTML from Markdown with Pandoc
        # We’re using Docker to run Pandoc, rather than install it via apt, because this is much
        # faster.
        run: |
          shortsha=$(git rev-parse --short HEAD)
          fullsha=$(git rev-parse HEAD)
          updated=$(date +"%d %b %Y")

          docker run --volume "$(pwd):$(pwd)" \
                     --workdir "$(pwd)" \
                     --env "SHORTSHA=$shortsha" \
                     --env "FULLSHA=$fullsha" \
                     --env "UPDATED=$updated" \
                     --entrypoint /bin/sh \
                     pandoc/core:3.8.3 \
                     bin/render-html

      - name: Render PDF from HTML with Weasyprint
        run: bin/render-pdf

      - name: Create deployment artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: public/

  publish:
    if: github.ref_name == 'main'
    needs: render
    runs-on: ubuntu-24.04
    environment: github-pages
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v4
